[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Enjoy
Name[eo]=Ĝuu
Name[fr]=Enjoy
Comment=Music Player
Comment[eo]=Muzikludilo
Comment[es]=Reproductor de música
Comment[fr]=Lecteur de musique
Comment[gl]=Reprodutor de música
Comment[it]=Riproduttore musicale
Comment[pt]=Reprodutor de músicas
Icon=enjoy
Exec=enjoy
Terminal=false
Categories=Application;AudioVideo;Audio;Player;
